vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Dec 2011 20:07:17 -0000
vti_extenderversion:SR|4.0.2.3406
vti_filesize:IR|689
vti_backlinkinfo:VX|interface.htm morsekob30/help.htm morsekob35/index.htm index.htm docs/index.htm
vti_syncwith_upload.comcast.net\:21/new:TX|21 Dec 2011 20:07:17 -0000
vti_syncofs_upload.comcast.net\:21/new:TW|21 Dec 2011 20:07:00 -0000
vti_nexttolasttimemodified:TR|21 Dec 2011 06:45:53 -0000
vti_author:SR|Les
vti_modifiedby:SR|Les
vti_timecreated:TR|18 Dec 2011 09:09:56 -0000
vti_cacheddtm:TX|21 Dec 2011 20:07:17 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_syncwith_upload.comcast.net\:21:TX|21 Dec 2011 20:07:17 -0000
vti_syncofs_upload.comcast.net\:21:TW|27 Dec 2011 20:36:00 -0000
