vti_encoding:SR|utf8-nl
http\://java.com/en/download/testjava.jsp:morsekob30/help.htm
http\://buy.com:morsekob25/tutorial.htm
http\://www.java.com/js/deployjava.js:morsekob30/morsekob\\ (no\\ deployjava\\ shim).htm
mailto\:morsekob-owner@yahoogroups.com:archive/handbook.htm
mailto\:interface@morsetelegraphclub.org:interface.htm
http\://morsekob.org/morsekob30/help.htm:morsekob30/morsekob\\ (no\\ deployjava\\ shim).htm morsekob30/morsekob.htm
http\://morsekob.org/index.htm:morsekob30/morsekob\\ (no\\ deployjava\\ shim).htm morsekob30/morsekob.htm
http\://www.morsetelegraphclub.org/:index.htm
http\://tech.groups.yahoo.com/group/morsekob/:index.htm morsekob25/index.htm
https\://sites.google.com/site/morsekob/morsekob40:morsekob40/index.htm
http\://morsekob.org/python/pyserial-2.6.zip:morsemhc/index.htm
http\://home.comcast.net/~morsekob/morsekob.htm:morsekob30/help.htm
http\://compusa.com:morsekob25/tutorial.htm
archive/images/warning.gif:archive/morsekob132.htm
http\://morsekob.org/morsekob30/morsekob.htm:morsekob30/index.htm
http\://amazon.com:interface.htm
http\://www.mrx.com.au/:archive/morsekob132.htm
archive/index.htm:archive/handbook.htm archive/morsekob132.htm archive/timesignals.htm
http\://tigerdirect.ca:morsekob25/tutorial.htm
http\://mtc-kob.dyndns.org/:index.htm
http\://members.tripod.com/morse_telegraph_club/:archive/morsekob132.htm
http\://morsekob.org/techdocs/index.htm:morsekob30/help.htm
http\://morsetelegraphclub.org/morsekob/download/morsekob.zip:morsekob25/faq.htm
archive/images/sounderdriver.jpg:archive/morsekob132.htm
http\://www.mrx.com.au/images/sounder cct.jpg:archive/morsekob132.htm
archive/images/bug.jpg:archive/morsekob132.htm
http\://tigerdirect.com:interface.htm
archive/style.css:archive/handbook.htm archive/morsekob132.htm archive/timesignals.htm
http\://www.microsoft.com/download/en/details.aspx:morsekob35/index.htm
http\://www.morsetelegraphclub.org/morsekob/deploy/morsekob.application:morsekob25/index.htm
http\://www.valleyrecord.com:archive/svr-article.htm
http\://www.cde.com/catalogs/q-qrl.pdf:interface.htm
http\://books.google.com/books:archive/timesignals.htm
http\://java.com:morsekob30/help.htm
http\://www.microsoft.com/en-us/download/details.aspx:morsekob35/index.htm
http\://www.morsekob.org:archive/svr-article.htm archive/morsekob132.htm
http\://morsekob.org/python/pygame-1.9.2pre.win32-py3.3.exe:morsemhc/index.htm
http\://mtc-kob.dyndns.org:morsekob30/morsekob\\ (no\\ deployjava\\ shim).htm morsekob30/index.htm morsekob30/morsekob.htm
http\://morsekob.org/morsekob40/morsemhc.zip:morsemhc/index.htm
http\://morsekob.org/python/python-3.3.0.msi:morsemhc/index.htm
http\://en.wikipedia.org/wiki/american_morse_code:index.htm
http\://mtc-ac.dyndns.org/ntpstats/loopstats:archive/timesignals.htm
http\://home.comcast.net/~w4fok/:archive/morsekob132.htm
http\://www.microsoft.com/downloads:morsekob25/faq.htm
