<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorseKOB.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MorseKOB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MorseKOB.Properties.Settings1>
            <setting name="CommPort" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FilterDelay" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PortEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvertLevels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Loopback" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReaderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayTiming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AmericanMorse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InternationalCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SounderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CoreAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CharWPM" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="CharSpacing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WordSpacing" serializeAs="String">
                <value>False</value>
            </setting>
        </MorseKOB.Properties.Settings1>
        <MorseKOB.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value>My office ID, name, and location</value>
            </setting>
            <setting name="CircuitCloser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WPM" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WireNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Connect" serializeAs="String">
                <value>False</value>
            </setting>
        </MorseKOB.Properties.Settings>
    </userSettings>
</configuration>