<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MorseKOB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MorseKOB.My.MySettings>
            <setting name="ID" serializeAs="String">
                <value>My Office Call, Name, and Location</value>
            </setting>
            <setting name="CircuitCloser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeSpeed" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WireNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="InternalSounder" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FarnsworthType" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="FarnsworthSpace" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="RepeatGroup" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="RepeatTimes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DirectSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowStartPosition" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="WindowClientSize" serializeAs="String">
                <value>592, 422</value>
            </setting>
            <setting name="VerticalSplitterDistance" serializeAs="String">
                <value>373</value>
            </setting>
            <setting name="HorizontalSplitterDistance" serializeAs="String">
                <value>271</value>
            </setting>
            <setting name="ReaderOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CallAlert" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="TTY" serializeAs="String">
                <value>False</value>
            </setting>
        </MorseKOB.My.MySettings>
    </userSettings>
</configuration>
