vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Oct 2010 22:37:39 -0000
vti_extenderversion:SR|4.0.2.3406
vti_cacheddtm:TX|23 Oct 2010 22:37:39 -0000
vti_filesize:IR|1115
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_upload.comcast.net\:21/new:TX|23 Oct 2010 22:37:39 -0000
vti_syncofs_upload.comcast.net\:21/new:TW|16 Dec 2011 21:09:00 -0000
vti_syncwith_upload.comcast.net\:21:TX|23 Oct 2010 22:37:39 -0000
vti_syncofs_upload.comcast.net\:21:TW|27 Dec 2011 20:36:00 -0000
